@import "bootstrap/mixins.less";

@pink: #be1a8d;

.custom-highlight{
    background: @pink;
    color: #fff;
    text-shadow: -1px 1px 1px darken(@pink, 15%);
}

/* Apply custom highlight */
::-moz-selection{ .custom-highlight; }
::selection { .custom-highlight; }

textarea{
    resize: vertical;
}

audio, iframe{
    display: none;
    height: 0;
    visibility: hidden;
}

body {
	margin: 0;
	padding: 0;
	background: url("../img/blackmamba.png");
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #fff;
}

img.cornerBanner {
	margin: 0 0 0 0;
	position: fixed;
	z-index: 10001;
	opacity: 0.6;
}
img.cornerBanner:hover {
	opacity: 0.9;
}

/**
 * Handle when screen is smaller than the logo.
 */
@media all and (max-width: 460px), (max-height: 460px) {
  img.cornerBanner {
    max-width: 30%;
    max-height: 30%;
  }
}

#logo {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

img.mainGraphic {
	display: block;
	position: absolute;
	top: 50%;
  left: 50%;
  width: 450px;
  height: 450px;
  margin-top: -225px; /* Half the height */
  margin-left: -225px; /* Half the width */
}

/**
 * Handle when screen is smaller than the logo.
 */
@media all and (max-width: 460px), (max-height: 460px) {
  #logo {
    padding: 2em 1em;
  }
  img.mainGraphic {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    top: inherit;
    left: inherit;
    width: inherit;
    height: inherit;
    margin: 0 auto;
  }
}

/* Footer */

#footer {
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	background-color: none;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
}

#footerbox {
	border-radius: 5px;
	padding: 5px 10px;
	margin-bottom: 10px;
	background-color: rgba(255, 255, 255, 0.2);
	display: inline-block;
}
